@font-face {
  font-family: king;
  src: url(../font/king/KIN668.TTF);
}

body{
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(images/bg.png);
  font-family: king;
}

nav h3{
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 0;
}

nav img{
  width: 300px;
}

.piano {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.set {
  list-style: none;
  display: flex;
}

.key {
  border: 1px solid #000;
  text-align: center;
}

.white {
  padding-top: 200px;
  color: black;
  background-color: white;
  width: 50px;
  height: 40px;
  border-radius:0 0 5px 5px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#eee 0%,#fff 100%)
}

.white:active {
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.black {
  color: white;
  background-color: black;
  margin-left: -20px; 
  margin-right: -20px;
  height: 40px; 
  width: 35px;
  padding-top: 130px;
  z-index: 1;
  border-radius:0 0 3px 3px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg,#222 0%,#555 100%)
}

.black:active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

.board{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.board div{
  background-color: #e9e9e9;
  margin: 0 5px;
  height: 100px;
  border-radius:0 0 3px 3px;
  text-align: center;
  word-wrap: break-word;
  padding-left :10px;
  padding-right :10px;
}

.typing{
  width: 500px;
}

.options, .notes{
  width: 100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options i{
  font-size: 24px;
  margin: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.options i:hover{
  color: #EE5F3B;
}

footer{
  flex-shrink: 0;
  text-align: center;
}

#textAreaContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#textAreaContainer div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

textarea{
  padding: 10px;
  margin-bottom: 10px;
}

button{
  border: #EE5F3B 2px solid;
  border-radius: 3px;
  background-color: white;
  width: 80px;
  height: 25px;
}

button:hover{
  color: black;
  background-color: #EE5F3B;
}